.my-carousel {
  position: relative;
}

.carousel-container {
  display: flex;
  transition: transform 1s ease; /* Add smooth transition between slides */
}

.carousel-slides {
  flex: 0 0 20%; /* Adjust based on the number of slides you want per page */
  /* Add any other styles for your movie slides */
}

.my-carousel button {
  background-color: transparent;
  width: 2rem;
  position: absolute;
  /* Arbitrary value that should be calcualted based on the 
  height of the movie card and movie image but I'm lazy */
  top: 35%;
  transform: translateY(-50%);
  font-size: 20px;
  cursor: pointer;
  height: var(--movie-height);
  vertical-align: top;
}

.my-carousel button .icon {
  transform: scale(2);
}

.my-carousel button:disabled {
  opacity: 0.5; 
  cursor: not-allowed; 
}
  
.my-carousel button:first-child {
  left: 1rem;
}
  
button:last-child {
  right: 0rem;
}