#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
#logo-bar {
    display: flex;
    column-gap: 20px;
    margin-left: 20px;
}

#exit {
    display: flex;
    margin: auto 20px;
    padding: 3px;
    background-color: black;
}

#exit-img {
    width: 30px;
    height: auto;
}