/* selector {
    
} */

/* 
    padding / border / margin

    shorthand: top right bottom left
    margin: 10px 20px 30px 40px

    shorthand: top/bottom left/right
    margin: 10px 20px
 */

:root {
  --bg-color: gray;
  --fg-color: black;
  --movie-height: 140px;
  --movie-width: 200px;
  overflow-x: hidden;
  font-family: sans-serif;
}

#landing {
  min-height: 100vh;
  background-color: var(--bg-color);
}

#nav-bar-img {
  width: 8.5vh;
  height: auto;
  object-fit: contain;
}

/* TODO: Add css back for a element */
/* a {
  text-decoration: none;
  color: var(--fg-color);
} */

#navigational-bar {
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

#nav-bar {
  display: flex;
  align-items: center;
  column-gap: 3vh;
}

#nav-bar > button {
  font-size: 22px;
  font-family: "Public Sans";
  font-weight: 300;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#search-and-account {
  column-gap: 10px;
  margin-right: 20px;
}

#movie-list {
  display: flex;
  column-gap: 20px;
}

#movie-img {
  width: 200px;
  height: 100%;
}

#movie-genre {
  display: flex;
  margin-left: 20px;
}

#movie-genre > h1 {
  font-size: 24px;
  font-family: "Public Sans";
  font-weight: 400;
}

@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap");
