/* selector {
    
} */

/* 
    padding / border / margin

    shorthand: top right bottom left
    margin: 10px 20px 30px 40px

    shorthand: top/bottom left/right
    margin: 10px 20px
 */

:root {
    --bg-color: gray;
    --fg-color: black;
    overflow-x: hidden;
}

a {
  color: var(--fg-color);
  text-decoration: none;
}

#landing {
  min-height: 100vh;
  background-color: var(--bg-color);
  padding-top: 10px;
}

#nav-bar-img {
  width: 50px;
  height: 100%;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  margin-left: 100px;
  margin-top: 10px;
}

td {
  font-size: larger;
}

#nav-bar {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

#nav-bar > a {
  font-size: 24px;
  font-family: "Public Sans";
  font-weight: 300;
}

#search-and-account {
  display: flex;
  column-gap: 10px;
  margin-right: 20px;
}

#movie-list {
    display: flex;
    column-gap: 20px;
}

#movie-img {
  width: 200px;
  height: 100%;
}

#movie-genre {
  display: flex;
  margin-left: 20px;
}

#movie-genre > h1 {
  font-size: 24px;
  font-family: "Public Sans";
  font-weight: 400;
}

#username {
    display: flex;
    margin: 20px 20px;
}

#username > h2 {
    font-size: 24px;
    font-family: "Public Sans";
    font-weight: 300
}

#filler {
    display: flex;
    margin: 10px;
}

#watchlist {
    display: flex;
    margin: auto 20px;
    flex-direction: column;
}

#watchlist > h2 {
    font-size: 24px;
    font-family: "Public Sans";
    font-weight: 400
}

#watchlist-movies {
    display: flex;
    margin: auto 20px;
    column-gap: 20px;
}

#review-list {
    display: flex;
    flex-direction: column;
    margin: auto 20px;
}

#review-list > h2 {
    font-size: 24px;
    font-family: "Public Sans";
    font-weight: 400
}

#reviews {
    display: flex;
    margin: auto 20px;
    flex-direction: column;
}

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap');
