.movie-card {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  cursor: pointer;
}

.movie-card:hover {
  transform: scale(1.2);
}

.movie-image {
  width: 200px;
  height: 140px;
  border-radius: 8px;
}

.movie-image img {
  width: 100%;
  height: 100%;
}

.movie-image:hover {
  transform: scale(1.2);
}
