#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#logout {
  padding: 16px 20px;
  background-color: #e50914;
  color: white;
  border: none;
  border-radius: 5px;
  color: e50914;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 2px;
  margin-bottom: 2px;
  cursor: pointer;
}

#logo-bar {
  display: flex;
  column-gap: 20px;
  margin-left: 20px;
}

#exit {
  display: flex;
  margin: auto 20px;
  padding: 3px;
}

#exit-img {
  width: 30px;
  height: auto;
  margin-top: 10px;
  margin-left: 40px;
}
