.movie-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #141414;
  color: white;
  height: 100vh;
}

.moviepage-background {
  width: 100%;
  height: 60vh;
}

.moviepage-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.moviepage-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  margin-top: 20px;
  text-align: center;
  justify-content: space-between;
}

.moviepage-title {
  font-size: 3rem;
  width: 20%;
  margin: 0 10px;
}

.moviepage-genre {
  font-size: 1.5rem;
  width: 15%;
  margin: 0 10px;
}

.moviepage-description {
  font-size: 1.2rem;
  width: 40%;
  line-height: 1.5;
  margin: 0 10px;
}

.moviepage-release {
  font-size: 1rem;
  opacity: 0.7;
  width: 10%;
  margin: 0 10px;
}
