#landing {
  min-height: 100vh;
  background-color: var(--bg-color);
  color: white;
}

#username {
  display: flex;
  margin: 20px 20px;
}

#username > h2 {
  font-size: 24px;
  font-family: "Public Sans";
  font-weight: 300;
}

#watchlist {
  display: flex;
  margin: auto 20px;
  flex-direction: column;
}

#watchlist > h2 {
  font-size: 24px;
  font-family: "Public Sans";
  font-weight: 400;
}

#watchlist-movies {
  display: flex;
  margin: auto 20px;
  column-gap: 20px;
}

#review-list {
  display: flex;
  flex-direction: column;
  margin: auto 20px;
}

#review-list > h2 {
  font-size: 24px;
  font-family: "Public Sans";
  font-weight: 400;
}

#reviews {
  display: flex;
  margin: auto 20px;
  flex-direction: column;
}
